:root {
	--basic-black: #000;
	--basic-white: #fff;
	--basic-background-color: #F2F2F2;
	--basic-blue: #81B3D2;
	--basic-extra-blue: #669EC0;
	--basic-dark-blue: #5496BD;
	--basic-brown: #766357;
	--basic-extra-brow: #604E43;
	--basic-dark-brow: #503E33;
}

/* GLOBAL */
.page {
	background-color: #F2F2F2;
	height: 100%;
	margin: 0 40px;
}

body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	min-width: 1200px;
	width: 1200px;
	margin: 0;
	padding: 0;
	margin: auto;
	font-family: PT sans, Arial, sans-sarif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;
	background-color: #FFFFFF;
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);

}
/* PAGE ONE */

/* Navigation */
.main-navigation {
	height: 56px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	background-color: #fff;
	
}
.header-logo {
	position: absolute;
	left: 571px;
	top: 0px;
}
.site-navigation {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 15px 73px;
}

.site-navigation a {
	text-decoration: none;
	color: #000;
}
.site-navigation a:hover {
	color: #81B3D2;
}
.site-navigation a:active {
	color: #000;
	opacity: 30%; 
}

/* MAIN */

.about-sedona {
	min-height: 216px;
	text-align: center;
}
.about-sedona h2 {
	padding-top: 42px;
	padding-bottom: 24px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}
.content {
	display: grid;
	grid-template-columns: repeat(6, 200px);
}
.reason-one {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;
	height: 256px;
	background-color: #81B3D2;
	color: #fff;
	margin: 0;
	padding: 0;
}
.reason-one-text {
	text-align: center;
	margin: auto 25px;

}
.reason-one h2 {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
}
.facilities {
	grid-column: 1 / -1;
	min-height: 327px;
	
}
.facilities-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	list-style: none;
	align-items: center;
	margin: 0;
	padding: 0;
	padding-top: 60px;
}
.facilities-list li {

}
.facilities-list h2 {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
}
.reason-two {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;
	min-height: 256px;
	background-color: #81B3D2;
	color: #fff;
	margin: 0;
	padding: 0;
}
.reason-two-text {
	grid-column: -1;
	text-align: center;
	margin: auto 25px;
}
.reason-two h2 {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
}
.other-reasons {
	grid-column: 1 / -1;
	height: 256px;
	background-color: #EEEEEE;
}
.other-reasons-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	text-align: center;
	align-items: center;
	margin: 0;
	padding: 50px 0;
}
.other-reasons-list h2 {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
}
.search {
	min-height: 290px;
}
.interested {
	text-align: center;
	padding-top: 50px;
}
.interested h2 {
	font-weight: 700;
	font-size: 30px;
	line-height: 24px;
}
.button {
	width: 568px;
	height: 86px;
	background: #766357;
	text-align: center;
	margin: 0 auto;
	margin-top: 38px;
}
.button:hover {
	background-color: #604E43;
}
.button:active {
	background-color: #503E33;

}
.button-serch {
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	padding: 30px;
}
.button-serch:active {
	opacity: 30%;
}
.map {
	position: relative;
}
.form-serch {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 568px;
	height: 395px;
	background-color: #fff;
	margin: 0 auto;
	padding: 0;
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}
.form-wrap {
	/*display: grid;
	grid-template-columns: repeat(3, 110px) 128px;
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 5px;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 458px;
	height: 290px;
	margin: 0 auto;
	padding-top: 50px;
}

.form-wrap label {
	font-family: inherit;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	padding-right: 5px;
	
}
.form-wrap input {
	width: 346px;
	height: 38px;
	font-family: inherit;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: #000;
	text-transform: uppercase;
	border: none;
	background-color: #F2F2F2;
	padding: 0;
	margin: 0;
	padding-left: 11px;

}
.adult-children {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-wrap input[type="number"] {
	width: 114px;
	height: 38px;
	padding: 0;
	text-align: center;

}
.end-button-form {
	grid-column: 1 / -1;
	grid-row: 5;
	width: 458px;
	height: 56px;
	font-family: inherit;
	font-weight: bold;
	font-size: 21px;
	color: #fff;
	background-color: #81B3D2;
	border: 0;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}
.end-button-form:hover {
	background-color: #669EC0;
}
.end-button-form:active {
	background-color: #5496BD;
	
}

/* FOOTER */
.footer {
	height: 120px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;	
}
.contact-information {
	grid-column: 1 / 2;
	justify-self: center; 
}
.contacts {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;

}
.contacts a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}
.contacts a:hover {
	color: #81B3D2;
}
.social-networks {
	grid-column: 2 / 3; 
	justify-self: center;
	text-align: center;
}
.social {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.social a {
	margin: 0 3px;	
}
.twitt {
	display: block;
	width: 46px;
	height: 48px;
	background: url("images/Twitt.svg");
}
.twitt:hover {
	width: 46px;
	height: 48px;
	background: url("images/twitt-hover.svg");
}
.twitt:active {
	background: url("images/twitt-active.svg");
}
.facebook {
	display: block;
	width: 46px;
	height: 48px;
	background: url("images/facebook.svg");
}
.facebook:hover {
	background: url("images/face-hover.svg");
}
.facebook:active {
	background: url("images/face-active.svg");
}
.youtube {
	display: block;
	width: 46px;
	height: 48px;
	background: url("images/Youtube.svg");
}
.youtube:hover {
	background: url("images/youtube-hover.svg");
}
.youtube:active {
	background: url("images/youtube-active.svg");
}
.academy {
	grid-column: 3 / 4;
	justify-self: center; 
	display: flex;
	flex-direction: row;
}
.academy p {
	margin: 0;
	padding: 6px 15px 0 0;
	
}
.footer-logo {
	display: block;
	width: 115px;
	height: 33px;
	background: url(images/logo_htmlacademy.svg);
}
.footer-logo:hover {
	background: url("images/logo_htmlacademy_hover.svg");
}
.footer-logo:active {
	background: url("images/logo_htmlacademy_active.svg");
}

/* PAGE TWO */

/* MAIN */

.main-two {
	
}
.customization {
	height: 217px;
	background-image: url("images/background_two_page.jpg");
}
.header-form {
	display: grid;
	grid-template-columns: 73px repeat(5, 200px) 73px;
	grid-template-rows: repeat(4, 1fr);
	color: #fff;
	
}
.header-form h2 {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
}
.first-form {
	grid-column: 2 / 3;
	grid-row: 1 / 5;

}
.second-form {
	grid-column: 3 /4;
	
}
.final {
	grid-column: 6 / -1;
	align-self: center;

}
.show {
	width: 137px;
	height: 36px;
	color: #fff;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;
	border: 2px solid #FFFFFF;
	border-radius: 2px;
	background: 0;
}
.show:hover {
	color: #000;
	background-color: #fff;
}
.sorting-items {
	display: grid;
	grid-template-columns: 73px repeat(5, 200px) 73px;
	height: 86px;
	border-bottom: 1px solid #E5E5E5;
	
}
.items {
	grid-column: 2 / -1;
	display: flex;
	align-items: center;
}
.sorting {
	display: flex;
	list-style: none;
}
.sorting li {
	font-size: 12px;
	line-height: 18px;
	opacity: 30%;
	cursor: pointer;
	border-bottom: 1px dashed #81B3D2;
}
.sorting li:hover {
	color: #81B3D2;
	opacity: 1;
}
.sorting li:active {
	color: #000;
	opacity: 1;
	border: none;
}

/* RESULT */
.result-list{
	
	
}
.result {
	display: grid;
	grid-template-columns: 73px repeat(8, 1fr) 73px;
	grid-template-rows: repeat(12, 37px);
	margin: 0;
	padding: 0;
	list-style: none;
}
.result li {
	width: 1120px;
	border-bottom: 1px solid #E5E5E5;
}
.result a {
	text-decoration: none;
}
.result h2 {
	color: #000;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}
.result h2:hover {
	color: #81B3D2;
}
.result h2:active {
	color: #000;
	opacity: 0.3;
}
.result-one {
	grid-column: 2 / -1;
	grid-row: 1;
	display: grid;
	grid-template-columns: 73px repeat(8, 100px) 73px;
	grid-template-rows: repeat(3, 30px);
	grid-gap: 10px;
	
	
}
.result-one-price {
	
}
.result-one img {
	
}
.result-one h2 {
	
}
.result-two {
	grid-column: 2 / -1;
	grid-row: 2;
	display: grid;
	grid-template-columns: 73px repeat(8, 100px) 73px;
	grid-template-rows: repeat(3, 30px);
	
	
	
}
.result-three {
	grid-column: 2 / -1;
	grid-row: 3;
	display: grid;
	grid-template-columns: 73px repeat(8, 100px) 73px;
	grid-template-rows: repeat(3, 30px);
	
	
	
}

/* DETAIL BUTTON */
.detail-button {
	grid-column: 3 / 4;
	grid-row: 3;
	justify-self: center;
	display: block;
	width: 110px;
	height: 27px;
	background-color: #81B3D2;
}
.detail-button:hover {
	background-color: #669EC0;
}
.detail-button:active {
	background-color: #5496BD;
}
.detail-button-text {
	display: block;
	color: #fff;
	font-weight: bold;
	padding: 3px 9px;
}
.detail-button-text:active {
	opacity: 0.3;
}

/* RESERVATION BUTTON */
.reservation-button {
	grid-column: 4 / 5;
	grid-row: 3;
	justify-self: center;
	display: block;
	width: 142px;
	height: 27px;
	background-color: #766357;
	margin-top: 10px;
}
.reservation-button-text {
	display: block;
	color: #fff;
	font-weight: bold;
	padding: 3px 8px;
}
.reservation-button:hover {
	background-color: #604E43;
}
.reservation-button:active {
	background-color: #503E33;
}
.reservation-button-text:active {
	opacity: 0.3;
}